body{
	background-color: #feecb7;
}

strong{
	font-family: "Bodoni BQ Medium";
	font-size: 62px;
	font-weight: lighter;
	color: #A9BAFF;
	margin-left: 2px;
	}


.about{
	font-family: "Bodoni BQ Light";
	font-size: 16px;
	font-weight: lighter;
	width: 100%;
	height: 500px;
	color: #b19234;
	margin-top: 15px;
	margin-left: 2px;
	letter-spacing: 1px;
	border-right: 4px solid #A9BAFF;
	border-collapse: separate;
	border-spacing: 5px;
}

.column1{
    float:left;
	width: 35%;
	margin-left: 4px;
}

.column2{
    float:left; 
    width:25%; 
    margin-left:25px;		
}

.column3{
    float:left; 
    width:25%; 
    margin-left:10px;		
}


.header{
	font-family: "Bodoni BQ Medium";
	font-size: 21px;
	font-weight: lighter;
	color: #A9BAFF;
	margin-top: 50px;
	letter-spacing: 1px;
}

a:hover{
	font-family: "Bodoni BQ Light";
	font-size: 14px;
	font-weight: lighter;
	color: #A9BAFF;
	float: left;
	margin-left: 0px;
	letter-spacing: 1px;
}

a{
	font-family: "Bodoni BQ Light";
	font-size: 14px;
	font-weight: lighter;
	color: #b19234;
	float: left;
	margin-left: 0px;
	letter-spacing: 1px;
}



