@charset "UTF-8";

.body{
	background-color: #FEF5E7;
}
.header{
	position: fixed;
	top: 20px;
}

.dieter{
	font-family: Helvetica Neue LT Std;
	font-size: 12px;
	font-weight: lighter;
	color: #34495e;
}

p1{
	top: 0px;
	left: 100px;
	margin-left: 25px;
}

.ten{
	font-family: Helvetica Neue LT Std;
	font-size: 100px;
	font-weight: bold;
	color: #F26127;
	letter-spacing: -10px;
}

.title{
	font-family: Helvetica Neue LT Std;
	font-size: 21px;
	font-weight: lighter;
	color: #34495e;
	width: 25%;
	position: relative;
	left: 115px;
	top: -90px;
}

.space{
	margin-bottom: 150px;
}
.dot1{
	height: 25px;
	width: 25px;
	background-color: #F26127;
	border-radius: 50%;
	position: fixed;
	top: 50px;
	right: 5px;
}

.dot2{
	height: 25px;
	width: 25px;
	background-color: #F26127;
	border-radius: 50%;
	position: fixed;
	top: 85px;
	right: 5px;
}

.linh{
	font-family: Helvetica Neue LT Std;
	font-size: 12px;
	font-weight: lighter;
	color: #34495e;
}

p2{
	margin-left: 25px;
}

.number{
	font-family: Helvetica Neue LT Std;
	font-size: 36px;
	font-weight: bold;
	color: #F26127;
}

.column{
	width: 35%;
	float: left;
	margin-left: 10px;
}

.column2{

}

h1{
	font-family: Helvetica Neue LT Std;
	font-size: 21px;
	color:#F26127;
}

p{
	font-family: Helvetica Neue LT Std;
	font-size: 16px;
	font-weight: lighter;
	color: #34495e;
}